<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
</head>
<body>
	<h1>Estudante CRUD</h1>
	
	<a th:href="@{new}">Novo Estudante</a>
	
	<table border="1">
   		<thead>
   			<tr>
   				<th>Id</th>
   				<th>Nome</th>
   				<th>E-mail</th>
   				<th>Senha</th>
   				<th>CEP</th>
   				<th>Data Nasc</th>
   				<th>Delete</th>
   			</tr>
   		</thead>
   		<tbody>
   			<tr th:each="estudante : ${estudantes}">
   				<td><a th:text="${estudante.id}" th:href="@{editEstudante/{id}(id=${estudante.id})}"></a></td>
   				<td th:text="${estudante.nome}"></td>
   				<td th:text="${estudante.email}"></td>
   				<td th:text="${estudante.senha}"></td>
   				<td th:text="${estudante.cep}"></td>
   				<td th:text="${estudante.dataNascimento}"></td>
   				<td><a th:href="@{deleteEstudante/{id}(id=${estudante.id})}">X</a></td>
   			</tr>
   		</tbody>
   	</table>
	
</body>
</html>