<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Novo Estudante</title>
</head>
<body>
	<form method="post" th:action="@{/estudantes/save}" th:object="${estudante}">
		<div>
			<label for="id">Id</label>
			<input type="number" name="id" th:field="*{id}" readonly>
		</div>
		<div>
			<label for="email">Email</label>
			<input type="text" name="email" th:field="*{email}">
		</div>
		<div>
			<label for="senha">Senha</label>
			<input type="text" name="senha" th:field="*{senha}">
		</div>
		<div>
			<label for="cep">CEP</label>
			<input type="text" name="cep" th:field="*{cep}">
		</div>
		<div>
			<label for="nome">Nome</label>
			<input type="text" name="nome" th:field="*{nome}">
		</div>
		<div>
			<label for="dataNascimento">Data Nascimento</label>
			<input type="date" name="dataNascimento" th:field="*{dataNascimento}">
		</div>
		<div>
			<button type="submit">Submit</button>
		</div>
	</form>
</body>
</html>