<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>CampusMatch - Registro</title>
	<link rel="stylesheet" type="text/css" href="/css/auth.css" />
</head>
<body>
    <div class="container">
        <div class="card">
            <div class="card-body">
				<h1>Confirmação de Registro</h1>

				<p>O email de confirmação foi enviado para o seguinte endereço: <span th:text="${estudante.getEmail()}"></span>.</p>

				<p>Após abrir o link no email, seu login será ativo!</p>
				
				<p>Já confirmou seu registro? <a th:href="@{/auth/login}">Faça login</a></p>

            </div>
        </div>
    </div>
</body>
</html>