<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>CampusMatch - Registro</title>
	<link rel="stylesheet" type="text/css" href="/css/auth.css" />

</head>
<body>
    <div class="container">
        <div class="card">
            <div class="card-body">
				<h1>Confirmação de Registro</h1>

				<p>O seu cadastro foi enviado a nossa equipe de administração, você será notificado após a confirmação de seu cadastro</span>.</p>
				
				<p>Já recebeu seu email de confirmação? <a th:href="@{/auth/login}">Faça login</a></p>

            </div>
        </div>
    </div>
</body>
</html>