<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>CampusMatch</title>
	<link rel="stylesheet" type="text/css" href="/css/auth.css" />

</head>
<body>
    <div class="container">
        <div class="card">
            <div class="card-header">
                RECUPERAR SENHA
            </div>
            <div class="card-body">
                <form method="post" th:action="@{/auth/recoverypassword}">
                    <label for="email">Email</label>
                    <input type="email" id="email" name="email" required>
					
                    <button type="submit">Recuperar</button>
                </form>
				<p>Possui conta?</p>
                <a th:href="@{/auth/login}">Faça login!</a>
                <p>Não possui conta?</p>
                <a th:href="@{/auth/estudante}">Cadastre-se como estudante</a><br>
                <a th:href="@{/auth/instituicao}">Cadastre-se como instituição</a>
            </div>
        </div>
    </div>
</body>
</html>