<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>CampusMatch</title>
</head>
<body>
	
	<h1>Instituição Home</h1>
	
	<h2>
		<a th:href="@{/cursos/index}">Cursos</a>
		<br>
		
		<a th:href="@{/instituicoes/index}">Instituições</a>
		<br>
		
		<a th:href="@{/estudantes/index}">Estudantes</a>
		<br>
		
		<a th:href="@{/infraestruturas/index}">Infraestruturas</a>
		<br>
		
		<a th:href="@{/publicacoes/index}">Publicacao</a>
		<br>
	</h2>
	
</body>
</html>