<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Nova Publicação</title>
</head>
<body>
	<form method="post" th:action="@{/publicacoes/save}" th:object="${publicacao}">
		<div>
			<label for="id">Id</label>
			<input type="number" name="id" th:field="*{id}" readonly>
		</div>
		
		
		<div>
			<label for="descricao">Post</label>
			<input type="text" name="descricao" th:field="*{descricao}">
		</div>
		
		<!--  
		<div>
			<label for="data">Data Publicada</label>
			<input type="date" name="data" th:field="*{dataPublicacao}">
		</div>
		-->
		
		
		<div>
			<button type="submit">Submit</button>
		</div>
	</form>
</body>
</html>