<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Novo Relacionamento Instituição-Curso</title>
</head>
<body>
    <h1>Novo Relacionamento Instituição-Curso</h1>
    <form th:action="@{/instituicaoCurso/save}" th:object="${instituicaoCurso}" method="post">
        <label for="instituicao">Instituição:</label>
        <select th:field="*{instituicao}" id="instituicao">
            <option th:each="instituicao : ${instituicoes}" th:value="${instituicao}" th:text="${instituicao.nome}"></option>
        </select>
        <br/>
        <label for="curso">Curso:</label>
        <select th:field="*{curso}" id="curso">
            <option th:each="curso : ${cursos}" th:value="${curso}" th:text="${curso.nome}"></option>
        </select>
        <br/>
        <button type="submit">Salvar</button>
    </form>
</body>
</html>
