<app-header></app-header>
<main>
    <div>
        <form class="pure-form pure-form-aligned">
            <fieldset>
                <div class="pure-control-group">
                    <label for="id">Id: </label>
                    <input type="number" id="id" name="id" [(ngModel)]="this.id">
                </div>
                
                <div class="pure-control-group">
                    <label for="nome">Nome: </label>
                    <input type="text" id="nome" name="nome" [(ngModel)]="this.nome">
                </div>
        
                <div class="pure-controls">
                    <button type="button" id="btn_pesquisar" (click)="definirPesquisa()" class="pure-button pure-button-primary">Buscar</button>
                    <button type="button" id="btn_new" routerLink="new" class="pure-button pure-button-primary">Novo</button>
                </div>
            </fieldset>
        </form>
    </div>
    <hr width="50%">
    <div class="div_flex_col_center">
        <table id="tabela" class="pure-table pure-table-bordered">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Nome</th>
                    <th>E-mail</th>
                    <th>Senha</th>
                    <th>CEP</th>
                    <th>Data Nasc</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody data-list>
                <tr *ngFor="let estudante of this.estudantes">
                    <td><a routerLink="/estudantes/editEstudante/{{estudante.id}}">{{estudante.id}}</a></td>
                    <td>{{estudante.nome}}</td>
                    <td>{{estudante.email}}</td>
                    <td>{{estudante.senha}}</td>
                    <td>{{estudante.cep}}</td>
                    <td>{{estudante.dataNascimento | date: 'dd/MM/yyyy'}}</td>
                    <td><a routerLink="/estudantes/deleteEstudante/{{estudante.id}}">X</a></td>
                    
                </tr>
            </tbody>
        </table>
    </div>
</main>
<app-footer></app-footer>
